   <div class="container theme-showcase" role="main">

      <div class="page-header">
          <h1>About HAPP</h1>
      </div>

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/banner1.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="/images/banner2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="/images/banner3.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


      <div class="row">
        <div class="col-lg-12">
          <h2>HAPP - Your heart matters...</h2>
          <p style="font-size:120%;">Preventive healthcare is transforming the healthcare approach and gaining importance day by day. The most important reason for that is preventive healthcare is easier, more painless and less costly than regular treatment process after the diagnosis. Regarding these reasons preventive healthcare leads to social & economical improvement to the society.</p>
 
          <p style="font-size:120%;">A today preventive healthcare application mostly requires regular visits to doctors. These visits are time consuming for both patients and doctors, and patients generally cannot find that time to go and do that visits. In these visits doctors only cover the physical states and biological values that are not enough.</p>
 
          <p style="font-size:120%;">Just as health encompasses a variety of physical and mental states, so do disease and disability, which are affected by environmental factors, genetic predisposition, disease agents, and lifestyle choices. Doctors are not capable of covering all environmental factors, genetic predisposition, disease agents and lifestyle choices. So there is a need for using all these multiple data sources and evaluating these data with high accuracy to achieve correct diagnosis. Especially predictive diagnosis, which can lead early phase treatments and a perfect appliance of preventive healthcare.</p>
 
          <p style="font-size:120%;">This is the point where HAPP (Health Analysis & Prediction Program) comes in. HAPP is a cloud application which gathers patient related information from multiple sources, analyze that information and make predictions to achieve preventive healthcare. </p>
        </div>
      </div>

    </div> <!-- /container -->
