<html lang="en">
<head>BURASI HEAD</head>
<body>
<div class="container">

	<div class="col-md-6" >
		<%= link_to "Patient Login", patient_login_path %> 
	</div>

	<div class="col-md-6">
		<%= link_to "Doctor Login", doctor_login_path %> 
	</div>
</div>
</body>
</html>