<div class="container">
   <div class="row">
      <div class="col-md-4">
         <%= form_for(:patient, url: add_patient_path) do |f| %>
         <%= f.text_field :email, class: "form-control", style: "display: inline-block; width:70%;" %>
         <%= f.submit "Add patient", class: "btn btn-default", style: "margin-top: -4px;" %>
         <% end %>
         <table class="table table-hover">
            <% current_user.patients.each do |p| %>
            <tr>
               <td><%= link_to p.name, monitor_patient_path(current_user, p) %> </td>
            </tr>
            <% end %>
         </table>
      </div>
      <div id="calendar" class="col-md-5" align="center">
         GRAFIK
      </div>
      <div id="calendar" class="col-md-2" align="center">
         HASTA LISTESI
      </div>
   </div>
</div>