// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-list{
	height: 0px !important;
	padding: 10px;
	background: none !important;
}
	#patient_risk{
		width: 90%;
	}
	#patient_desired_inr{
		width: 77%;
	}